# Compilación y Binarios
*.class
*.log
*.jar
*.war
*.ear
target/
build/
bin/

# Entorno y Secretos
.env
.env.local
stacktrace.log

# Configuración de Maven
.mtj.tmp/
*.dll
*.exe
*.so
*.lnx

# Configuración de Gradle
.gradle/
/build/

# IDEs (IntelliJ, Eclipse, NetBeans)
.idea/
*.iml
.classpath
.project
.settings/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Sistema
.DS_Store