ul{
	list-style: none;
}

.inputFilter{
    padding: 0.75rem 1.75rem;
    width: 18vw;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: 1.3rem;
}

.bestia{
	border: 1px solid black;
	box-shadow: 0px 8px 4px rgb(0,0,0,.15);
	background: rgba(0,0,0,0.1);
	padding: 2vh;
	height: fit-content;
	min-width: 13vw;
	min-height: 18vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2vh;
}

.bestia aside{
	display:flex;
	flex-direction: column;
	gap: 1vh;
}

.bestias{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
	gap: 20px;
}

.mainContent{
	gap: 2vh;
	min-height: 800px;
	height: fit-content;
}

.btnBestia {
    padding: 0.75rem 1.75rem;
    border: none;
    border-radius: 6px;
    background: var(--primary-button);
    color: #2C2C2C;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
}

.btnBestia:hover {
    background: var(--primary-button-hover);
    transform: scale(1.02);
}

.btnAgregar{
	padding: 0.75rem 1.75rem;
    border: 4px dashed var(--primary-color);
    border-radius: 20px;
    background: rgba(245, 245, 66,0.075);
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
}
