ul{
	list-style: none;
}

.habitats{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.habitat{
	border: 1px solid black;
	box-shadow: 0px 8px 4px rgb(0,0,0,.15);
	background: rgba(0,0,0,0.1);
	padding: 2vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
}

.habitat aside{
	display:flex;
	flex-direction: column;
	gap: 1vh;
}

.habitat button{
	width: 6vw;
	height: 4vh;
}

.mainContent{
	gap: 2vh;
}