html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #8e6e53;
}

.contenedorMapa {
  width: 75%;
  height: 100vh;
  float: right;
  position: relative;
  margin: 0;
  padding: 0;
  border-right: 5px solid #8e6e53;
  box-sizing: border-box;
  background-color: #f3e5ab;
}

.mapa {
  width: 100%;
  height: 100%;
  background-color: #f3e5ab;
}

.leaflet-tile-pane {
  filter: invert(1) sepia(1.8) saturate(1.7);
}

.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-tooltip-pane,
.leaflet-control-container {
  filter: none !important;
}

.leaflet-container {
  background: #f3e5ab !important;
}

.leaflet-marker-icon {
  filter: sepia(1) saturate(1.8) brightness(0.8) !important;
}

.leaflet-tooltip {
  border-radius: 15px !important;
  background: linear-gradient(
    90deg,
    #4b3621 0%,
    #5d4037 50%,
    #4b3621 100%
  ) !important;
}
.contenedorOpciones {
  width: 25%;
  height: 100vh;
  float: left;
  background-color: #4b3621;
  border-right: 5px solid #2c1e14;
  box-sizing: border-box;
  padding: 20px;
  overflow: hidden;
  color: #f3e5ab;
  font-family: 'Georgia', serif;
}

.contenedorHabitats {
  width: 90%;
  height: 90%;
  background-color: #f3e5ab;
  border-radius: 20px;
  padding: 5px;
  overflow: auto;
}

.HabitatCard {
  width: 85%;
  height: auto;
  margin: 10px auto;
  background-color: #f3e5ab;
  border: 5px solid #4b3621;
  border-radius: 20px;
  cursor:pointer;
  overflow: hidden;
}

.HabitatCard:hover{
  background-color: rgba(196, 164, 132, 0.4); 
  transition: 0.3s;
}


.nombreHabitat {
  background-color: #4b3621;
  padding: 5px;
  margin: 0px;
  font-size: 1.2rem;
  color: #f3e5ab;
  text-align: center;
}

.HabitatCard h2 {
  padding: 0px 5px;
  font-size: 1rem;
  color: #4b3621;
}

.btnMapa{
	float: left;
	width: 20%;
	height: auto;
	cursor: pointer;
	margin: 25px auto;
	padding: 10px;
	border-radius: 6px;
	color: #f3e5ab;
	font-size: 1.6rem;
	background: var(--primary-button);
	display: block;
	text-align: center;
	transform: translate(0px, -10px);
}

.btnMapa:hoover{
	background: var(--primary-button-hover);
}

.btnMapa a{
	text-decoration: none;
	color: black;
}

