.mainContent section{
    padding: 10px 10px 0px 10px;
    display: block;
}

.mainContent{
	flex-direction: row;
	min-height: 100vh;
	height: fit-content; /* necesario o se rompe la página al modificar el tamaño horizontal del navegador*/
}

h1, h2{
    text-decoration: underline;
    font-size: 25px;
    margin-bottom: 15px;
}

.infoBestia{
    box-shadow: 0 10px 20px rgba(7, 35, 60, 0.317);
    border: 4px solid var(--primary-color);
    padding: 20px;
    margin: 2vh 2vw;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: fit-content;
    width: 20vw;
    margin-left: auto;
}

.infoBestia:hover {
    transform: translateY(-3px);
    box-shadow: 0 15px 30px rgba(7, 35, 60, 0.4);
}

.infoBestia img {
    height: 20vh;
    width: 20vw;
    box-shadow: 0 5px 15px rgba(7, 35, 60, 0.3); 
    border-radius: 8px;
}

.infoBestia h3{
    text-align: center;
    text-decoration: underline;
    font-size: 1.4rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.mainContent p {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.234);
    text-align: left;
}

.entrada{
	min-height: 300px;
	min-width: 600px;
}

.evidencias{
	text-align: left;
	list-style: upper-roman;
	margin-left: 5px;
}

.mainContent p:last-child{
    border-bottom: none;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.comentarios{
	border-top: 2px solid var(--primary-color);
    padding: 2rem;
    min-height: 200px;
    height: fit-content;
    flex-direction: column;
    gap: 7px;
}

.comentario{
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	border-radius: 12px;
	padding: 1vh 2vw;
	box-shadow: 0 5px 20px rgba(7, 35, 60, 0.317);
}

.comentarioDatos{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    color: #2c3e50;
    display: flex;
    gap: 0.5rem;
}

.comentarioContenido{
	font-size: 1rem;
	font-weight: 500;
	padding-bottom: 1.2rem;
	text-align: left;
}

.fechaComentario{
	color: gray;
}


.comentarios form{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.inputComentario{
	padding: 12px 16px;
	width: 50vw;
	font-size: 1rem;
	border-radius: 12px;
	border-radius: 12px 0px 0px 12px;
}


.btnComentario{
	padding: 12px 16px;
	width: 15vw;
	font-size: 1rem;
	border-left: none;
	border-radius: 0px 12px 12px 0px;
}

.btnComentario:hover{
	background: #fff;
}

.anotherRegistros{
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 4vh;
	padding: 3vh 3vw;
	border: 2px solid black;
}

.anotherRegistros input{
	padding: 0.50rem 1rem;
	height: 3vh;
	width: 7vw;	
}

.registrosForm{
	display: block; 
	gap: 10px; 
	flex-direction: column;
}

.btnRegistro {
    padding: 12px 28px;
    border-radius: 12px;
    color: #2C2C2C;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
}

.btnRegistro:hover {
    background: #fff;
    transform: scale(1.02);
}