:root{
    --primary-color: #8E6E53;
    --secondary-color: #F4F1EA;
    --third-color: rgb(201, 201, 202);
    --font-color: #2C3E50;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Consolas',system-ui;
}

.mainContent{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    height: 100vh;
    padding: 3vh 3vw;
    text-align: center;
    background-color: var(--secondary-color);
    margin: 0 6vw;
}

body{
    background-color: var(--third-color);
    color: var(--font-color);
}

footer{
    width: 100vw;
    height: 7vh;
    background-color: var(--primary-color);
}